<p>template-driven-forms-learning works!</p>

<!-- As soon as we import FormsModule in app.module.ts, the ngForm directive is automatically applied to the form element -->
<!-- FormControl, FormGroup are basic building blocks of template-driven forms and they both extend the AbstractControl class -->
<!-- While using template-driven forms, we will deal with the objects of FormControl, FormGroup and NgForm class -->
<!-- ngSubmit is an event of the NgForm directive and it is invoked when the form is submitted ..so we can call a method in ts file when this event is invoked and pass the NgForm object to it -->
 <!-- To convert a normal element to a form control, we use the ngModel directive and a name attribute -->

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" style="display: flex; flex-direction: column; gap: 10px; background-color: lightgray; width: 300px; padding: 20px; border-radius: 5px;">

    <input type="text" placeholder="First name" [(ngModel)]="formModel.firstname" name="firstname" required minlength="3">
    <!-- <div class="error danger" *ngIf="myForm.submitted === true && myForm.controls['firstname']?.errors !== null">
        <div *ngIf="myForm.controls['firstname']?.errors?.['required']">First name is required.</div>
        <div *ngIf="myForm.controls['firstname']?.errors?.['minlength']">First name must be at least 3 characters long.</div>
    </div> -->

    <input type="text" placeholder="Last name" [(ngModel)]="formModel.lastname" name="lastname">


    <input type="email" placeholder="Email" [(ngModel)]="formModel.email" name="email" required email>
    <div *ngIf="myForm.controls['email']?.errors?.['required']">Email is required.</div>
    <div *ngIf="myForm.submitted === true && myForm.controls['email']?.errors?.['email']">Enter valid email.</div>

    <div ngModelGroup="address">
        <input type="text" placeholder="City" [(ngModel)]="formModel.address.city" name="city" required>
        <input type="text" placeholder="State" [(ngModel)]="formModel.address.state" name="state" required>
    </div>


    <button type="submit">Submit</button>
</form>