<p>home-page works!</p>

<!-- <ng-content select=".text2"></ng-content>
<ng-content select=".text1"></ng-content> -->

<!-- Content projected from parent component will be inserted here at the place marked by <ng-content> tags -->
<!-- <ng-content></ng-content>

<ng-content select="[type]"></ng-content>
<ng-content select="#section1"></ng-content> -->

<div [ngSwitch]="name">
  <div *ngSwitchCase="'John Doe'">Welcome, John Doe!</div>
  <div *ngSwitchCase="'Jane Smith'">Hello, Jane Smith!</div>
  <div *ngSwitchDefault>Welcome, Guest!</div>
</div>

<p>This is {{ "Mayuri's" | uppercase }} website</p>
<p>This is {{ "Mayuri's" | lowercase }} website</p>
<p>This is {{ "mayuri's" | titlecase }} website</p>
<p>This is {{ "mayuri's" | slice:0:4 }} website</p>

<p>Date: {{ today | date:'fullDate' }}</p>
<p>Date: {{ anotherDate | date:'shortTime' }}</p>
<p>Date: {{ anotherDate | date:'longDate' }}</p>
<p>Date: {{ anotherDate | date:'fullDate' }}</p>

<p>Object: {{ myObj | json }}</p>

<p>{{ 1234.567 | number:'1.2-2' }}</p> // 1.2-2 means minimum 1 digit before decimal, minimum 2 digits after decimal, and maximum 2 digits after decimal
<p>{{ 1234.567 | number:'3.1-1' }}</p>
<p>{{ 1234.567 | number:'6.1-1' }}</p>
<p>{{ 1234.567 | number:'6.6-6' }}</p>

<p>{{ 5 | multiply:2:3 }}</p>


<router-outlet></router-outlet>