.class1{
    color: blue;
    font-size: 16px;
}

.class2{
    color: red;
    margin: 10px;
    padding: 5px;
}

.class3{
    background-color: lightgray;
    border: 1px solid black;
}

.class4{
    font-weight: bold;
    text-align: center;
}