<p>product-list works!</p>

<!-- 
if we use square brackets around an attribute on an element, it means we can run any javascript code in between the double quotes, the result of the javascript code expression will be assigned to the attribute
if we do not use square brackets, the attribute value will be treated as a string
<div [someSupportedAttribute]=" anyJavascriptCode " someOtherSupportedAttribute=" thisWillBeAStringDirectly ">
    Example
</div> 
-->

<!-- ngStyle directive -->
<!--  the key will be any css property and the value will be the value of the css property -->
<!-- example : color, backgroundColor, display, alignItems , align-items, height, width -->
 <!-- the key can be either in single quotes(like 'font-weight') or camelCase(like fontWeight) -->
<!-- <div [ngStyle]="goat">This text is styled using ngStyle directive</div>
<div [ngStyle]="{ color: redColor, 'height': '20px', 'font-weight' : 'bold', fontWeight: 'bold', backgroundColor : 'yellow'}">This another text is styled using ngStyle directive</div>
<div [ngStyle]="{ color: 'green', 'height': (num1 + num2) + 'px', 'font-weight' : 'bold', backgroundColor : 'lightgrey'}">This another text is styled using ngStyle directive with interpolation</div> -->

<!-- *****************************************************************************
  -->
<!-- ngClass directive -->

 <!-- value can be string of class names separated by space -->
<!-- <div class="class1 class2" [ngClass]=" 'class1 class2' ">This text is styled using ngClass directive with string of class names</div> -->

<!-- value can also be array of class names -->
<!-- <div [ngClass]="['class2', 'class3']">This text is styled using ngClass directive with array of class names</div> -->

<!-- value can also be object with key as class name and value as boolean -->
<!-- if the value is true, the class will be applied else not applied -->
<!-- <div [ngClass]="{ 'class1': true, 'class2': false, 'class3': myBoolean, class4 : (5%2 === 1) }">This text is styled using ngClass directive with object where keys are class names and boolean values</div> -->

<!-- **************************************************************************************************** -->


<!-- we can use the property binding syntax to pass data from parent to child component -->
<!--  As we have used [] around parentData1, the thing inside corresponsing "" should be a javascript expression -->
<!-- As we do not use [] around parentData2, the value will be treated as a string -->
<!-- <app-product-item [parentData1]="parentVar1" parentData2="Dogu"></app-product-item> -->

<!-- we can listen to the events myEmmiter and  valueChanged using the event binding syntax, and whenever the event is emitted from the child component, we can run some javascript code, like we can call a method of the parent component, the data emmited along with the event will be present inside $event -->
<!-- <app-product-item (myEmmiter)="onMyEmmiter(10, $event, 12)" (valueChanged)="onValueChanged($event)"></app-product-item> -->

<!-- It is fine if we do not pass some input properties or do not listen to some output events -->
<!-- <app-product-item [parentData1]="parentVar1" (myEmmiter)="onMyEmmiter(10, $event, 12)"></app-product-item> -->

<!-- It is even fine if we do not pass any input properties or do not listen to any output events -->
<!-- The input properties will have their default values -->
<!-- The data emitted with the output events will be lost -->
<!-- <app-product-item></app-product-item> -->


<!-- the value of the products is received as an input property from the parent component, check the ts file -->
<!-- <div *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p>Price: {{ product.price }}</p>
    <hr>
</div> -->

<!-- property binding -->
<!--  As we have used [] around parentData1, the thing inside corresponsing "" should be a javascript expression -->
<!-- As we do not use [] around parentData2, the value will be treated as a string -->
<!-- <app-product-item [parentData1]="['snow','goat']" parentData2="dukku"></app-product-item>
<div class="myclass" style="color: #000;background-color: aqua;">Property binding</div> -->

<!-- event binding / event listening / event handling -->
<!-- when the event is emitted from the child component, we can run some javascript code -->
<!-- Mostly we call a method of the parent component when the event is emitted and pass the event data to it as argument which is present in $event -->
<!-- <app-product-item (myEmmiter)="onMyEmmiter(10, $event, 12)" (valueChanged)="onValueChanged($event)"></app-product-item> -->
<!-- <div (click)="onDivClick($event)" (hover)="onHover($event)">my div</div> -->


<!-- myDiv is the reference variable which refers to this div element. we will use it in the .ts file with @ViewChild -->
<!-- <div #myDiv>My div 1</div> -->
<!-- <div #myDiv>My div 2</div> -->

<!-- we can use @ViewChildren() decorator to get a reference of multiple html elements having the same reference variable-->
<!-- <p #address> Telephone colony</p>
<p #address> near lions club, Malkapur</p> -->

<!-- we can use the viewchild decorator to get a reference of a child component and manipulate it from the parent component ts file -->
<!-- <app-product-item #productItem></app-product-item> -->

<!-- we can use viewchild decorator to get a reference of a child component using the class name, it will store the reference of the first occurance of the component from the html file -->
<!-- <app-product-item></app-product-item>
<app-product-item></app-product-item> -->